body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.servicio {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.servicio h2 {
    color: #007bff;
}

.servicio p {
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
